Service References/WCFBusinessDBProviderService/BusinessDBProviderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BusinessDBProviderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8097/BusinessDBProviderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8097/BusinessDBProviderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8097/BusinessDBProviderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RDIFramework.Utilities" />
      <xsd:import schemaLocation="http://localhost:8097/BusinessDBProviderService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Common" />
      <xsd:import schemaLocation="http://localhost:8097/BusinessDBProviderService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8097/BusinessDBProviderService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDBProviderService_ExecuteNonQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQuery" />
  </wsdl:message>
  <wsdl:message name="IDBProviderService_ExecuteNonQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IDBProviderService_ExecuteNonQuery2_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQuery2" />
  </wsdl:message>
  <wsdl:message name="IDBProviderService_ExecuteNonQuery2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQuery2Response" />
  </wsdl:message>
  <wsdl:message name="IDBProviderService_ExecuteScalar_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScalar" />
  </wsdl:message>
  <wsdl:message name="IDBProviderService_ExecuteScalar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScalarResponse" />
  </wsdl:message>
  <wsdl:message name="IDBProviderService_ExecuteScalar2_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScalar2" />
  </wsdl:message>
  <wsdl:message name="IDBProviderService_ExecuteScalar2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScalar2Response" />
  </wsdl:message>
  <wsdl:message name="IDBProviderService_Fill_InputMessage">
    <wsdl:part name="parameters" element="tns:Fill" />
  </wsdl:message>
  <wsdl:message name="IDBProviderService_Fill_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillResponse" />
  </wsdl:message>
  <wsdl:message name="IDBProviderService_Fill2_InputMessage">
    <wsdl:part name="parameters" element="tns:Fill2" />
  </wsdl:message>
  <wsdl:message name="IDBProviderService_Fill2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Fill2Response" />
  </wsdl:message>
  <wsdl:portType name="IDBProviderService">
    <wsdl:operation name="ExecuteNonQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBProviderService/ExecuteNonQuery" message="tns:IDBProviderService_ExecuteNonQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBProviderService/ExecuteNonQueryResponse" message="tns:IDBProviderService_ExecuteNonQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery2">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBProviderService/ExecuteNonQuery2" message="tns:IDBProviderService_ExecuteNonQuery2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBProviderService/ExecuteNonQuery2Response" message="tns:IDBProviderService_ExecuteNonQuery2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalar">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBProviderService/ExecuteScalar" message="tns:IDBProviderService_ExecuteScalar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBProviderService/ExecuteScalarResponse" message="tns:IDBProviderService_ExecuteScalar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalar2">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBProviderService/ExecuteScalar2" message="tns:IDBProviderService_ExecuteScalar2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBProviderService/ExecuteScalar2Response" message="tns:IDBProviderService_ExecuteScalar2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Fill">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBProviderService/Fill" message="tns:IDBProviderService_Fill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBProviderService/FillResponse" message="tns:IDBProviderService_Fill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Fill2">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBProviderService/Fill2" message="tns:IDBProviderService_Fill2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBProviderService/Fill2Response" message="tns:IDBProviderService_Fill2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDBProviderService" type="tns:IDBProviderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteNonQuery">
      <soap:operation soapAction="http://tempuri.org/IDBProviderService/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery2">
      <soap:operation soapAction="http://tempuri.org/IDBProviderService/ExecuteNonQuery2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalar">
      <soap:operation soapAction="http://tempuri.org/IDBProviderService/ExecuteScalar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalar2">
      <soap:operation soapAction="http://tempuri.org/IDBProviderService/ExecuteScalar2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fill">
      <soap:operation soapAction="http://tempuri.org/IDBProviderService/Fill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fill2">
      <soap:operation soapAction="http://tempuri.org/IDBProviderService/Fill2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessDBProviderService">
    <wsdl:port name="BasicHttpBinding_IDBProviderService" binding="tns:BasicHttpBinding_IDBProviderService">
      <soap:address location="http://localhost:8097/BusinessDBProviderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>