Service References/WCFDemoProductService/DemoProductService87.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RDIFrameworkDemo.BizLogic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RDIFrameworkDemo.BizLogic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8097/DemoProductService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RDIFramework.BizLogic" />
  <xs:complexType name="DemoProductEntity">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RDIFramework.BizLogic" base="q1:BaseEntity">
        <xs:sequence>
          <xs:element name="_createBy" nillable="true" type="xs:string" />
          <xs:element name="_createOn" nillable="true" type="xs:dateTime" />
          <xs:element name="_createUserId" nillable="true" type="xs:string" />
          <xs:element name="_deleteMark" nillable="true" type="xs:int" />
          <xs:element name="_description" nillable="true" type="xs:string" />
          <xs:element name="_enabled" nillable="true" type="xs:int" />
          <xs:element name="_iD" nillable="true" type="xs:string" />
          <xs:element name="_modifiedBy" nillable="true" type="xs:string" />
          <xs:element name="_modifiedOn" nillable="true" type="xs:dateTime" />
          <xs:element name="_modifiedUserId" nillable="true" type="xs:string" />
          <xs:element name="_productCode" nillable="true" type="xs:string" />
          <xs:element name="_productName" nillable="true" type="xs:string" />
          <xs:element name="_productPrice" nillable="true" type="xs:decimal" />
          <xs:element name="_productUnit" nillable="true" type="xs:string" />
          <xs:element name="_sortCode" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DemoProductEntity" nillable="true" type="tns:DemoProductEntity" />
  <xs:complexType name="ArrayOfDemoProductEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DemoProductEntity" nillable="true" type="tns:DemoProductEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDemoProductEntity" nillable="true" type="tns:ArrayOfDemoProductEntity" />
</xs:schema>